.key {
  cursor: pointer;
  display: flex;
  height: 4rem;
  font-size: 2rem;
  line-height: 2.25rem;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.033rem;
  border-radius: 0.3125rem;
  text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.1);
  border: 0;
}

.key-width-1 {
  width: 3.75rem;
}

.key-width-2 {
  width: 8.5rem;
}

.key-color-1,
.key-color-2 {
  font-size: 1.25rem;
  line-height: 1.125rem;
  letter-spacing: -0.02rem;
}

@media (min-width: 750px) {
  .key {
    height: 4rem;
    font-size: 2.5rem;
    line-height: 2.25rem;
    letter-spacing: -0.041;
    border-radius: 0.625rem;
  }

  .key-width-1 {
    width: 6rem;
  }

  .key-width-2 {
    width: 14rem;
  }

  .key-color-1,
  .key-color-2 {
    font-size: 1.75rem;
    line-height: 1.625rem;
  }
}
