@import "normalize-scss/sass/normalize/import-now";
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
@import "/src/styles/colors.scss";

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  background: $theme1-bg-main;
  font-family: $font-family;
  font-weight: $font-weight;
  color: $theme1-darkbg-text;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
